body{
    margin: 0;
    font-family: sans-serif;
}
header{
    text-align: center;
    padding: 50px;
    background-image: url(gambar/giphy.gif);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    overflow-wrap: break-word;
}
nav{
    text-align: center;
    padding: 20px;
    background-color: black;
    position: sticky;
    top: 0;
}
a{
    text-decoration: none;
    color: grey;
    margin: 10px;
}
.profile{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 60px;
    overflow-wrap: break-word;
}
.foto{
    padding: 5px;
}
.prolog{
    text-align: justify;
    padding: 5px;
    overflow-wrap: break-word;
}
.story{
    text-align: justify;
    padding: 5%;
    overflow-wrap: break-word;
}
.skill{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 5%;
    justify-content: space-around;
    background-color: black;
}
.bar{
    color: white;
    padding: 5%;
    border-radius: 9px;
    border-color: white;
    border-style: solid;
    margin: 10px;
}
.achievement{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
}
.award{
    padding: 5%;
    border-radius: 9px;
    border-color: black;
    border-style: solid;
    margin: 10px;
    text-align: center;
}
.plan{
    text-align: center;
    background-color: black;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 10%;
    justify-content: space-around;
    overflow-wrap: break-word;
}
.card{
    color: white;
    padding: 5%;
    border-radius: 9px;
    border-color: white;
    border-style: solid;
    margin: 10px;
    overflow-wrap: break-word;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    overflow-wrap: break-word;
}
.nav-active {
    color: black; 
    background-color: white;
    border-radius: 9px;
    padding: 10px;
    transition: 0.3s;
}
